---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import Certifications from "@/components/Studies.astro";
import CertificationsIcon from "@/components/icons/StudiesIcon.astro";
import ProjectIcon from "@/components/icons/ProjectIcon.astro";
import Technology from "@/components/Technology.astro";
import Repositories from "@/components/Repositories.astro";
import RepoIco from "@/components/icons/Repository.astro";
---

<Layout
  title="Portfolio de Lucas Rondinelli"
  description="Portfolio profesional de Lucas Rondinelli, estudiante y practicante de desarrollo de software y desarrollo web."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36" id="inicio">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24 pl-4 pr-4">
    <SectionContainer id="estudios">
      <TitleSection>
        <CertificationsIcon class="size-7" />
        Estudios
      </TitleSection>
      <Certifications />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-7" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="tecnologias">
      <TitleSection>
        <CodeIcon class="size-7" />
        Tecnologías
      </TitleSection>
      <Technology />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <ProjectIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="repositorios">
      <TitleSection>
        <RepoIco class="size-7" />
        Repositorios Principales
      </TitleSection>
      <Repositories />
    </SectionContainer>

    <!-- Agregar capacidades y/o conocimientos como lenguajes aprendidos -->
    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-7" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
