---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Junio 2024 - Actualidad",
    title: "Desarrollador de Software",
    company: "Fiscalia de Estado",
    description:
      "Realizo una pasantia en conjunto con la Facultad de Informatica de La Plata (UNLP) en donde incremento mis conocimientos tanto como desarrollador Back-End como Front-End, utilizando nuevas tecnologias y frameworks.",
    link: "https://github.com/LRondinelli04/Fiscalia-de-Estado",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
