---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Junio 2024 - Actualidad",
    title: "Desarrollador de Software",
    company: "Fiscalía de Estado",
    description:
      "Actualmente, realizo una pasantía en colaboración con la Facultad de Informática de La Plata (UNLP), donde he ampliado mis conocimientos en desarrollo Back-End y Front-End. Durante esta experiencia, he trabajado con diversas tecnologías y frameworks modernos, contribuyendo al desarrollo de soluciones innovadoras y eficientes.",
    //link: "https://github.com/LRondinelli04/Fiscalia-de-Estado",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>