---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Junio 2024 - Actualidad",
    title: "Desarrollador de Software - Pasantía",
    company: "Fiscalía de Estado",
    description:
      "Actualmente, realizo una pasantía en colaboración con la Facultad de Informática de La Plata (UNLP), donde amplío mis conocimientos en desarrollo tanto Back-End como Front-End. Trabajo con diversas tecnologías y frameworks modernos, participando activamente en la creación de soluciones innovadoras y eficientes. Este rol me permite aplicar mis habilidades técnicas en un entorno profesional, contribuyendo al desarrollo de aplicaciones que optimizan los procesos internos de la institución.",
    link: "https://conveniosunlp.presi.unlp.edu.ar/convenio_abrir_pdf?id=1981",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
