---
import LinkedIn from "./icons/LinkedIn.astro";
import Email from "./icons/email.astro";

const currentYear = new Date().getFullYear();
---

<footer
  class="bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-white py-8 mt-8 px-2"
>
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center"
  >
    <div class="text-center md:text-left mb-4 md:mb-0">
      <span class="text-sm">
        © {currentYear}
        <a class="hover:underline" href="#">Lucas Rondinelli</a>. Todos los
        derechos reservados.
      </span>
    </div>
    <ul class="flex flex-col md:flex-row items-center text-sm font-medium">
      <li class="mb-2 md:mb-0 md:mr-4">
        <a
          id="contacto"
          href="mailto:lrondinelli2004@gmail.com"
          class="hover:underline flex items-center transform transition-transform duration-300 hover:scale-110"
        >
          <!-- <Email class="w-5 h-5 mr-1" /> -->
          Contacto
        </a>
      </li>
      <li class="mb-2 md:mb-0 md:mr-4">
        <a
          href="https://github.com/LRondinelli04"
          class="hover:underline flex items-center transform transition-transform duration-300 hover:scale-110"
        >
          <!-- <GitHub class="w-5 h-5 mr-1" /> -->
          GitHub
        </a>
      </li>
      <li class="mb-2 md:mb-0 md:mr-4">
        <a
          href="https://www.linkedin.com/in/lucas-rondinelli/"
          class="hover:underline flex items-center transform transition-transform duration-300 hover:scale-110"
        >
          <!-- <LinkedIn class="w-5 h-5 mr-1" /> -->
          LinkedIn
        </a>
      </li>
      <li>
        <a
          href="/cv.pdf"
          class="hover:underline flex items-center transform transition-transform duration-300 hover:scale-110"
        >
          <!-- <CvIcon class="w-5 h-5 mr-1" /> -->
          CV
        </a>
      </li>
    </ul>
  </div>
</footer>
