---
import SocialPill from "@/components/SocialPill";
import JavaScript from "./icons/JavaScript.astro";
import Angular from "./icons/Angular.astro";
import DotNet from "./icons/DotNet.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import Scss from "./icons/Scss.astro";
import Typescript from "./icons/Typescript.astro";
import Csharp from "./icons/Csharp.astro";
import Java from "./icons/Java.astro";
import Pascal from "./icons/Pascal.astro";
import Git from "./icons/Git.astro";
import GitHub from "./icons/GitHub.astro";
import SqlServer from "./icons/Sql.astro";

const TECH_TAGS = {
  HTML: {
    name: "HTML",
    icon: Html,
  },
  CSS: {
    name: "CSS",
    icon: Css,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: JavaScript,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: Typescript,
  },
  ANGULAR: {
    name: "Angular",
    icon: Angular,
  },
  SCSS: {
    name: "SCSS",
    icon: Scss,
  },
  DOTNET: {
    name: ".NET",
    icon: DotNet,
  },
  CSHARP: {
    name: "C#",
    icon: Csharp,
  },
  JAVA: {
    name: "Java",
    icon: Java,
  },
};

const TOOL_TAGS = {
  GIT: {
    name: "Git",
    icon: Git,
  },
  GITHUB: {
    name: "GitHub",
    icon: GitHub,
  },
  SQL_SERVER: {
    name: "SQL Server",
    icon: SqlServer,
  },
};

const TECH_TECHNOLOGIES = Object.values(TECH_TAGS);
const TOOL_TECHNOLOGIES = Object.values(TOOL_TAGS);
---

<!-- Sección de Lenguajes aprendidos -->
<div class="mb-10">
  <h2 class="text-2xl font-bold text-center mb-4">Lenguajes y Tecnologías</h2>
  <div class="flex flex-wrap justify-center gap-6">
    {
      TECH_TECHNOLOGIES.map(({ name, icon: Icon }) => (
        <div
          id="bubble"
          class="group relative inline-flex overflow-hidden rounded-full p-[1px]"
        >
          <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#C0C0C0_0%,#808080_50%,#C0C0C0_100%)]" />
          <div class="relative flex items-center justify-center w-full p-8 text-sm text-green-800 bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap shadow-lg dark:border-gray-600">
            <Icon class="size-8" />
          </div>
          <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <span class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg rounded-md">
              {name}
            </span>
          </div>
        </div>
      ))
    }
  </div>
</div>

<!-- Sección de Herramientas -->
<div>
  <h2 class="text-2xl font-bold text-center mb-4">Herramientas</h2>
  <div class="flex flex-wrap justify-center gap-6">
    {
      TOOL_TECHNOLOGIES.map(({ name, icon: Icon }) => (
        <div
          id="bubble"
          class="group relative inline-flex overflow-hidden rounded-full p-[1px]"
        >
          <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#C0C0C0_0%,#808080_50%,#C0C0C0_100%)]" />
          <div class="relative flex items-center justify-center w-full p-8 text-sm text-green-800 bg-gray-100 border border-gray-300 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap shadow-lg dark:border-gray-600">
            <Icon class="size-8" />
          </div>
          <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <span class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg rounded-md">
              {name}
            </span>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  /* Estilo para los iconos */
  .size-8 {
    width: 30px; /* Ajusta según necesites */
    height: 30px; /* Ajusta según necesites */
  }

  #bubble {
    transition: ease-in-out 0.2s;
  }
  #bubble:hover {
    scale: 1.1;
  }
</style>
